

<nav class="navbar bg-white shadow" id="navBar">
    <a href="/">
        <img class="px-5 py-1" id="navImage" src="Images/CarLogo.png" />
    </a>
    <a href="Documentation" class="px-5">
        <p id="documentation">Documentation</p>
    </a>
</nav>