@page "/Documentation"

<PageTitle>Documentation</PageTitle>

<div class="container pt-5" id="infoBox">
    <p>- Supported image formats: jpeg, jpg</p>
    <p>- Supported car colors: Black, Gray, White, Silver, Blue, Red</p>
    <p>- Note: Current models are undertrained which can lead to unexpected results</p>
    <p>- Created using ML.NET Object Detection & ML.NET Image Classification</p>
</div>
